# ── Compilados Java ───────────────────────────────────── 
*.class 
*.jar 
*.war 

# ── Carpetas de build ─────────────────────────────────── 
bin/ 
build/ 
target/ 
out/ 

# ── Eclipse ───────────────────────────────────────────── 
.classpath 
.project 
.settings/ 

# ── IntelliJ IDEA ───────────────────────────────────────
.idea/ 
*.iml 

# ── Sistemas operativos ───────────────────────────────── 
.DS_Store # macOS 
Thumbs.db # Windows 

# ── Logs ──────────────────────────────────────────────── 
*.log